{
	"presets":[
		"env",
		"react",
		"es2015",
		"stage-0",
		"flow"
	],
	"plugins":[
		"transform-runtime",
		"react-hot-loader/babel",
		[
      "react-css-modules",
      {
        "exclude": "node_modules",
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          }
				},
				"generateScopedName": "[path]___[name]__[local]___[hash:base64:5]",
				"webpackHotModuleReloading": true,
				"context": "./src"
      }
    ]
	]
}
